{% extends "base.html" %} {% block content %}
<br>
<br>
<br> {% if request.user.is_authenticated %} {% for i in uploads %}
<div class="card" style="width: 18rem;">
    <img src=".{{ i.img.url }}" class="card-img-top" alt="-">
    <span>{{ i.path }}</span>
</div>
<br> {% endfor %} {% else %} {% for i in listOfImages %}

<div class="card" style="width: 18rem;">

    <img src="./media/{{ i }}" class="card-img-top" alt="...">
    <span>{{ i }}</span>

</div>

<br> {% endfor %} {% endif %}
<br>
<br>{% endblock %}